*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    text-decoration: none;
    color: black;
    user-select: none;
}
body{
    background-color: rgb(228, 228, 228);
  
}

.nav-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 2rem;
    box-shadow: 2px 2px 5px rgb(143, 141, 141) ;
    
}

.links{
    /* width: 20rem; */
    display: flex;
    flex-direction: row;
    list-style: none;
    letter-spacing: 3px;
    justify-content: space-between;
    
    
}
.links a{
    padding: 1rem;
}
.social-icons{
    width: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    
}
.social-icons li a i{
    padding: .5rem;
    color:rgb(25, 203, 226) ;
}

.nav-toggle{
    display: none;
}
.nav-header p{
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px #000;
    font-weight: 100;
}
span{
    color: rgb(25, 203, 226);
}

@media screen and (max-width: 600px){

    .social-icons{
        display: none;
    }
    .nav-toggle{
        display: block;
        position: fixed;
        right: 1rem;
        border: none;
        background-color: white;
        font-size: 1.5rem;
        
        
        
    }
    .nav-toggle i:hover{
        transform: rotate(90deg);
        transition: ease .5s;
        color: black;
    }
    .nav-toggle i{
        color:rgb(25, 203, 226) ;
        transition: ease .5s;
        cursor: pointer;
        
    }
    .nav-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 1rem;
    
    }
    .links {
        height: 0;
        overflow: hidden;
       
    }
    .nav-center{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .show-links{
        height: 10rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        transition:ease .5s;
    
    }

    .show-links li:hover{
        text-transform: uppercase;
        background-color: rgb(185, 226, 231);
        transition: ease 1s;
        padding-left: 1rem;
        letter-spacing: .5rem;
    }
}